#navbar-title {
    font-size: 48px;
    font-weight: bold;
}

#search-area {
    margin-top: 20px;
    margin-left: -30px;
    text-align: center;
}

#search-title {
    padding: 10px;
    font-size: 24px;
    font-weight: bold;
}

#city-input,
#search-button {
    margin-top: 20px;
}

#city-name {
    font-size: 30px;
    font-weight: bold;
}

#UV-index {
    color: black;
}

/* .green {
    color: green;
}

.yellow {
    color: yellow;
}

.orange {
    color: orange;
}

.red {
    color: red;
} */

#forecast-title {
    text-align: center;
}

#forecast-date {
    font-size: 18px;
}
