#navbar-title {
    font-size: 36px;
}

#search-area {
    background-color: #d1dce7;
    padding: 20px;
    text-align: center;
}

#searchBtn{
    padding: 6px 5px 0px 5px;
}

#clear-history {
    margin: 0 auto;
    text-align: center;
}

#uv-index {
    padding: 5px;
}

#forecast-card {
    box-sizing: border-box;
    width: 20%;
    margin: 5px;
    padding: 5px;
    
}

#forecast-card:first-child {
    margin-left: 0px;
}

#forecast-card:last-child{
    margin-right: 0px;
}

#forecast {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 0px;
}
