#navbar-title {
    font-size: 36px;
}

#search-area {
    margin-top: 20px;
    margin-left: -30px;
    text-align: center;
}

#search-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

#city-name {
    font-size: 30px;
}

#UV-index {
    color: black;
}

.forecast-date {
    font-size: 18px;
}
